@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
box-sizing: border-box;

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}
}

*, *::before, *::after {
	box-sizing: inherit;
}



.box {
background-color: #FFFFFF;
border: 1.5px solid black;
width: 75%;
display: inline-block;
height: 1.75rem;
margin-top: 25px;
}

button {
font-size: 1em;
font-family: sans-serif;
color: black;
cursor: pointer;
width: 100px;
height: 1.75rem;
text-align:center;
border:black solid 2px;
background: rgba(230,207,207,0.00);
}

.strike {
text-decoration: line-through;
color: #8F7D5A;
}

